<uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
<uses-permission android:name="android.permission.READ_MEDIA_IMAGES"/>
<uses-permission android:name="android.permission.READ_MEDIA_VIDEO"/>

<application
    android:requestLegacyExternalStorage="true"
    android:allowBackup="true"
    android:dataExtractionRules="@xml/data_extraction_rules"
    ...>
